<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Meu Portfólio</title>
</head>

<body>

  <header>
    <div class="flex-container">
      <img src="../static/img/Meu Portfólio-logo escuro.png">
      <h2>Meu Portfólio</h2>
      <div class="flex-container-links">
        <ul>
          <a href="/">Home |</a>
          <a href="/informacoes"> Minhas informações |</a>
          <a href="/sobre"> Sobre </a>
        </ul>
      </div>
    </div>

  </header>

  <div class="block">
    {% block content %}

    {% endblock %}
    <br>
  </div>

  <footer id="rodape">
    <p class="palign">Meu Portfólio</p>
    <br>
    <div align="center">
      @ 2023 copyright All Rights Reserved
    </div>
  </footer>
</body>
</html>