{% extends "base.htm" %}

{% block content %}
<main>
    <div class="titulo1"><h3>Minhas informações</h3></div>

    <div class="container">
        <div id="img-eu"><img src="../static/img/eu.jpg"></div>
        <br>

        <div class="retangulo1">
            <ul>
                <h5>Acadêmicas</h5>
                <li>Escolaridade: Fundamental e médio completo, cursando ensino superior.
                </li>
                <li>Cursos: 4 cursos completos com certificação.</li>
                <li>Atividades extracurriculares: participação em artigo  pré científico certificada pela OBA e USP em provas de conhecimento, participação 
                    de projeto por alguns meses com parceria de empresa de games.
                </li>
            </ul>
        </div>

        <div class="retangulo2">
            <ul>
                <h5>Pessoais</h5>
                <li>Meus hobbies favoritos são ler, ouvir música e ver filmes e séries.
                </li>
                <li>Meu livro favorito é Rainha Vermelha, Você ligou para Sam e Novembro 9.</li>
                <li>Meus cantores favoritos são The Weekend, Khalid e Sarah Kang (entre outros).</li>
            </ul>
        </div>
    </div>

    <div class="sobremim">
        <h4 class="sobre"> Sobre </h4>
    </div>
    
    <div class="descricao">
        <p>Oi!! Meu nome é Letícia, tenho 18 anos e neste portfólio quero trazer algumas informações que considero relevantes para que me conheçam e acompanhem minha jornada mesmo antes de iniciar na área de tecnologia da informação.</p>
    
        <p>Através desde site espero poder mostrar um pouco mais sobre mim e meu trabalho, e caso queiram saber mais basta clicar nos links para contato ou mandar um email (tudo isso acessando a área de contato).</p>
    </div>

    <div class="mprojetos">
        <h4> Meus projetos </h4>
    </div>

    <div class="projetos">
        <div class="api"><a href="https://github.com/Equipe-01-DSM-2023/API-2023.1"><img src="../static/img/api.png"></a></div>
        <div class="dev"><a href="https://github.com/leticiacarvalho04/Dev-Web-1-Sem"><img src="../static/img/devweb.png"></a></div>
        <div class="py"><a href="https://github.com/leticiacarvalho04/Algoritmo-e-Logica-de-Programacao"><img src="../static/img/py.png"></a></div>
        <div class="unreal"><a href="https://github.com/leticiacarvalho04/ProjetoMasterGeeks"><img src="../static/img/unreal.png"></a></div>
    </div>
    
</main>


{% endblock %}