{% extends "base.htm" %}

{% block content %}

<main class="main-info">
    <div class="title2">
        <h2>Minhas informações</h2>
    </div>
    <br>
    <div class="corpo">
        <div class="img-escol">
            <div class="item2">
                <h4>Acadêmicas</h4>
                <div class="item3">
                <h5>Escolaridade</h5>
                <ul>
                    <li>Ensino Fundamental: Henriqueta Costa Porto (2011-2015), Matarazzo (2016), Sebastiana Cobra (2017 - 2019)</li> 
                    <li>Ensino Médio: Nelson do Nascimento Monteiro (2020-2022)</li>     
                    <li>Ensino superior: Fatec SJC no curso Desenvolvimento de Software Multiplataforma (2023 - atual)</li>
                </ul>
            </div>
            <div class="item4">
                <h5>Cursos</h5>
                <ul>
                    <li>HTML Básico e avançado</li>
                    <li>Fundamentos do design gráfico</li>
                    <li>Python</li>
                    <li>Microsoft 365- Planner</li>
                    <li>Básico de programação para games (Unity e Unreal)</li>
                </ul>
            </div>
            <div class="item5">
                <h5>Participações</h5>
                <ul>
                    <li>Certificada pela USP como aluna de melhor desempenho na CUCO 2021.</li>
                    <li>Formada pelo NUPA (iniciativa do Rotary Club) em Python e premiada com curso de 1 ano na escola de programação SuperGeeks.</li>
                    <li>Participação de projeto desenvolvido pela SuperGeeks e Hub Games SJC durante 4 meses em um projeto de gamificação educacional em concurso internacional estadunidense.
                    </li>
                    <li>Certificada pela participação da OBA de 2019</li>
                    <li>Participação em artigo pré-científico em parceria com a UNIFESP sobre um Construtor de um Detector de Radiação Caseira</li>
                <hr class="linha">
                </ul>
            </div>
            </div>
            <div class="img-diploma"><img src="../static/img/diploma.png"></div>
            </div>
            <!-- Projetos github-->
        <div class="item6">
            <h5>Projetos Github</h5>
        </div>

        <br>

        <div class="pessoal">
            <div class="hobbies">
                <h6>Hobbies</h6>
                Meus hobbies favoritos são:
                <ul>
                    <li>Ler</li>
                    <li>Ouvir música</li>
                    <li>Aprender coisas novas</li>
                    <li>Desenhar</li>
                    <li>Cozinhar</li>
                    <li>Ver filmes e séries</li>
                    <li>Andar de bicicleta (como lazer)</li>
                </ul>
            </div>
    
            <div class="livros">
                <h6>Livros</h6>
                Meus livros favoritos são:
                <ul>
                    <li>A rainha Vermelha</li>
                    <li>Série Bússola</li>
                    <li>Toda luz que não podemos ver</li>
                    <li>Boneco de Neve</li>
                    <li>É assim que começa</li>
                    <li>Novembro 9</li>
                    <li>Você ligou para Sam</li>
                    <li>A loja dos sonhos</li>
                </ul>
                Para ver mais: <a src="https://www.skoob.com.br/usuario/8777550">Skoob</a>
            </div>
    
            <div class="fil-ser">
                <h6>Filmes e Séries</h6>
            </div>
            <div class="cantores">
                <h6>Meus cantores favoritos</h6>
                <ul>
                    <li>The Weeknd</li>
                    <li>Taylor Swift</li>
                    <li>Justin Bieber</li>
                    <li>JVKE</li>
                    <li>Khalid</li>
                    <li>Enhypen e Seventeen</li>
                    <li>One Direction</li>
                    <li>Charlie Puth</li>
                    <li>Post Malone</li>
                    <li>Laufey e Sarah Kang</li>
                    <li>Bruno Mars</li>
                    <li>Peder Elias</li>
                    <li>Tate McRae</li>
                    <li>Ed Sheeram</li>
                    <li>Lewis Capaldi</li>
                </ul>
            </div>
        </div>
        
        </div>
    </div>
    
    <!--Repositórios github
    <div>
        Aqui vai ser os repositórios (Nomear como meus projetos github)
    </div>
    <hr>
    <div>
    
    -->
</main>

{% endblock %}