{% extends "base.htm" %}

{% block content %}

<div class="main-info">
    <div class="corpo">
            <div class="title2">
                <h1>Minhas informações</h1>
            </div>
            <br>
            <div class="item2">
                <h2>Acadêmicas</h2>
                <br>
                <div class="item3">
                    <h4>Escolaridade</h4>
                    <ul>
                        <li>Ensino Fundamental: Henriqueta Costa Porto (2011-2015), Matarazzo (2016), Sebastiana Cobra (2017 - 2019)</li> 
                        <li>Ensino Médio: Nelson do Nascimento Monteiro (2020-2022)</li>     
                        <li>Ensino superior: Fatec SJC no curso Desenvolvimento de Software Multiplataforma (2023 - atual)</li>
                    </ul>
                </div>
            </div>
            <div class="item4">
                <h4>Cursos</h4>
                <ul>
                    <li>HTML Básico e avançado</li>
                    <li>Fundamentos do design gráfico</li>
                    <li>Python</li>
                    <li>Microsoft 365- Planner</li>
                    <li>Básico de programação para games (Unity e Unreal)</li>
                </ul>
            </div>
            <div class="img-diploma"><img src="../static/img/diploma.png"></div>
            <div class="item5">
                <h4>Participações</h4>
                <ul>
                    <li>Certificada pela USP como aluna de melhor desempenho na CUCO 2021.</li>
                    <li>Formada pelo NUPA (iniciativa do Rotary Club) em Python e premiada com curso de 1 ano na escola de programação SuperGeeks.</li>
                    <li>Participação de projeto desenvolvido pela SuperGeeks e Hub Games SJC durante 4 meses em um projeto de gamificação educacional em concurso internacional estadunidense.
                    </li>
                    <li>Certificada pela participação da OBA de 2019</li>
                    <li>Participação em artigo pré-científico em parceria com a UNIFESP sobre um Construtor de um Detector de Radiação Caseira</li>
                <hr class="linha">
                </ul>
            </div>
            </div>
    </div>
</main>
<div class="pessoal">
    <div class="item7"><h2>Pessoal</h2></div>
    <br>
    <div class="hobbies">
        <p>
            <h4>Hobbies</h4>
            <ul>
                Meus hobbies são: 
                <li>Ler</li>
                <li>Ouvir música</li>
                <li>Aprender coisas novas</li>
                <li>Desenhar</li>
                <li>Cozinhar</li>
                <li>Ver filmes e séries</li>
                <li>Andar de bicicleta (como lazer)</li>
            </ul>
        </p>
    </div>
    <br>
    <div class="livros">
        <div>
            <h4>Livros</h4>
            <p>Meus livros favoritos são:</p>
        </div>
        <ul>
            <li>A rainha Vermelha</li>
            <li>Série Bússola</li>
            <li>Toda luz que não podemos ver</li>
            <li>Boneco de Neve</li>
            <li>É assim que começa</li>
            <li>Novembro 9</li>
            <li>Você ligou para Sam</li>
            <li>A loja dos sonhos</li>
        </ul>
        <p>Para ver mais: <a href="https://www.skoob.com.br/usuario/8777550">Skoob</a></p>
    </div>
    
    <picture>
        <source media="(max-width:550px)" src="../static/img/Hobbies & Passions.png" type="image/png">
        <img src="../static/img/Hobbies & Passions_300px.png" alt="Hobbies & Passions">
    </picture>      
    
    <div class="fil-ser">
            <p>
                <h4>Filmes e Séries</h4>
                <ul>
                    <li>Gilmore Girls</li>
                    <li>Anne with E</li>
                    <li>Extraordinário</li>
                    <li>Será isso amor?</li>
                    <li>Seus olhos dizem</li>
                    <li>Continência ao Amor</li>
                    <li>Manifest</li>
                    <li>O rei do show</li>
                    <li>Manévola</li>
                    <li>Alladin</li>
                    <li>Garota do século 20</li>
                </ul>
            </p>
    </div>
    <div class="cantores">
        <p>
            <h4>Meus cantores favoritos</h4>
            <ul>
                <li>The Weeknd</li>
                <li>Taylor Swift</li>
                <li>Justin Bieber</li>
                <li>Khalid</li>
                <li>Enhypen e Seventeen</li>
                <li>One Direction</li>
                <li>Charlie Puth</li>
                <li>Laufey e Sarah Kang</li>
                <li>Ed Sheeran</li>
                <li>Matt Maher</li>
                <li>MSH</li>
            </ul>
        </p>
    </div>
    <div class="mbti">
        <h4>MBTI - INFP</h4>
            MEDIADOR(A)

            Personalidades de Mediador são verdadeiros idealistas procurando o melhor mesmo nas piores pessoas e eventos, 
            procurando um jeito de melhorar as coisas. Enquanto eles podem ser vistos como calmos, reservados, ou mesmo tímidos, 
            Mediadores têm uma chama interior e uma paixão que pode realmente brilhar. Os Mediadores são guiados pelos seus princípios ao invés da razão, 
            excitação ou praticidade. Ao decidir como avançar, eles vão olhar para a honra, beleza, 
            moralidade e virtude – Mediadores são liderados pela pureza de sua intenção, não recompensas e punições.
    </div> 
    
</div>


{% endblock %}