/* Página home */
/* Página home */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    width: 100%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; 
  }
  
  picture {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 88%;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 7%;
  }
  
  .retangulo1,
  .retangulo2 {
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 44vh;
    width: 88%;
    margin: 1%; /* Define margem superior e inferior como 1% e margens laterais automáticas */
    padding: 1%;
    background-color: #018ABE;
    color: aliceblue;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 7%;
  }
  
  .retangulo1 p{
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    margin-top: 0 auto;
    line-height: 1.5;
    padding-bottom: 5%;
  }
  .retangulo2 p {
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify;
    margin-top: 0 auto;
    line-height: 1.5;
    padding-bottom: 5%;
  }
  
  .retangulo1 h5,
  .retangulo2 h5 {
    font-size: 18px;
    max-height: 10%;
    text-align: center;
    align-items: center;
    line-height: 1.5;
  }
  
  li {
    justify-items: center;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    height: auto;
  }
  
  ul {
    list-style: none;
  }  

.titulo1 {
  display: inline-grid;
  grid-column: 2;
  color: aliceblue;
  padding-top: 10px;
  padding-left: 20%;
}

div.sobremim {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 3rem;
  background: #97CADB;
  padding: 10px 5px;
  padding-top: 15px;
  color: black;
}

h3.sobre {
  padding-left: 10px;
}

.descricao {
  color: aliceblue;
  text-align: justify;
  margin: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 2;
}

.palign {
  text-align: center;
}

div.mprojetos {
  display: flex;
  flex-direction: row;
  width: 22rem;
  height: 3rem;
  background: #97CADB;
  padding: 10px 5px;
  padding-top: 10px;
  color: black;
}

.projetos {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.explicacao {
  color: aliceblue;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 15px;
}

.api {
  flex: 1;
}

.dev {
  flex: 1;
}

.py {
  flex: 1;
}

  @media screen and (max-width: 600px) {
    * {
      margin: 0;
      padding: 0;
    }
    
    body {
      overflow-x: hidden;
    }
    
    .container {
      width: 100%;
      height: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0%;
    }
  
    picture {
      display: flex;
      justify-content: center;
      margin-left: 0 auto;
      margin-right: 0 auto;
    }
  
    .retangulo1,
    .retangulo2 {
      width: 80%;
      height: 0 auto;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      transform: translateX(15%);
      justify-content: center;
      align-content: center;
      display: flex;
      margin-top: 10%;
      margin: 0px;
    }
  
    .retangulo1 h5,
    .retangulo2 h5 {
      padding-top: 4%;
    }
  
    .retangulo1 p,
    .retangulo2 p {
      padding-top: 4%;
      margin: 0 5%;
      line-height: 1.5;
    }
  
    .sobremim {
      margin-top: 10%;
    }
  
    .descricao {
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .mprojetos {
      margin-top: 10%;
    }
  
    .explicacao {
      margin-left: 10%;
      margin-right: 10%;
    }
    .projetos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  * {
    margin: 0 auto;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    top: 0;
    left: 0;
  }  
  
  main{
    width: 100%;
    margin: 0;
  }
  
  .container {
    width: 88%;
    height: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
    gap: 2%;
  }

  .titulo1 h1{
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .titulo1{
    justify-content: center;
    padding: 0px;
  }

  picture {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }

  .infos{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 3%;
    padding: 0;
    left: 0;
  }
  .retangulo1,
  .retangulo2 {
    width: 44%;
    height: auto;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 2;
    margin-top: 10%;
    margin: 0px;
  }
  
  .retangulo1 h5,
  .retangulo2 h5 {
    padding-top: 0 auto;
  }
  
  .retangulo1 p,
  .retangulo2 p {
    margin: 0 5%;
    line-height: 1.5;
    max-height: none;
    max-width: 100%;
  }  

  .sobremim {
    margin-top: 10%;
    margin-left: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .descricao {
    margin-left: 10%;
    margin-right: 10%;
  }

  .mprojetos {
    margin-top: 10%;
    margin-left: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .explicacao {
    margin-left: 10%;
    margin-right: 10%;
  }
  .projetos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10%;
    justify-content: center;
    margin: auto;
  }
}

@media (min-width: 1025px) {
  * {
    margin: 0 auto;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    top: 0;
    left: 0;
  }  
  
  main{
    width: 100%;
    margin: 0;
  }
  
  .container {
    width: 88%;
    height: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
    gap: 2%;
    bottom: 5%;
  }

  .titulo1 h1{
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .titulo1{
    justify-content: center;
    padding: 0px;
  }

  picture {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    max-height: none;
    max-width: 100%;
  }

  .infos{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 3%;
    padding: 0;
    left: 0;
  }
  .retangulo1,
  .retangulo2 {
    width: 44%;
    height: auto;
    display: flex;
    flex: 2;
    margin: 0;
  }
  
  .retangulo1 h5,
  .retangulo2 h5 {
    padding-top: 0;
    top: 0;
  }
  
  .retangulo1 p,
  .retangulo2 p {
    margin: 0 5%;
    line-height: 1.5;
    max-height: none;
    max-width: 100%;
    top: 3%;
  }  

  .sobremim {
    margin-top: 3%;
    margin-left: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .descricao {
    margin-top: 3%;
    justify-content: center;
  }

  .mprojetos {
    margin-left: 0;
    padding: 0;
    bottom: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .explicacao {
    margin-top: 3%;
    justify-content: center;
  }
  .projetos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10%;
    justify-content: center;
    margin: auto;
  }
}