/* Pessoal */
main {
    display: flex;
    flex-direction: column;
  }
  
  .pessoal {
    width: 90%;
    margin: 1%;
    padding: 1%;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4%;
  }

  .hob-mbti{
    order: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hobbies,
  .mbti {
    flex-basis: 48%; /* Ajuste a largura conforme necessário */
    line-height: 10px;
    padding-bottom: 5%;
    margin-right: 1%;
  }
  
  .fil-cant {
    order: 2;
    display: flex;
    flex-wrap: wrap;
  }
  
  .fil-ser,
  .cantores {
    flex-basis: 48%; /* Ajuste a largura conforme necessário */
    line-height: 10px;
    padding-bottom: 5%;
    margin-right: 1%;
  }
  
  .livros {
    order: 3;
    flex-basis: 100%;
    padding-bottom: 5%;
  }
  
  h2 {
    text-align: left;
    font-size: 2em;
  }
  
  h4 {
    font-size: 20px;
    text-align: left;
  }
  
  .pessoal h4 {
    flex: 1;
    line-height: 10px;
    font-size: 20px;
    text-align: left;
    padding-bottom: 5%;
  }
   
.livros h4 {
    background-color: #018ABE;
    color: aliceblue;
    text-align: left;
    display: inline-block; /* Alterado para inline-block */
    align-items: left;
    justify-content: left;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    line-height: 5vh;
    padding-left: 20px; /* Defina o valor desejado para a margem esquerda */
}


.livro{
    font-size: 15px;
    font-style: italic;
    margin-left: 15%;
}

.hobbies h4 {
    background-color: #018ABE;
    color: aliceblue;
    text-align: left;
    display: inline-block; /* Alterado para inline-block */
    align-items: left;
    justify-content: left;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    line-height: 5vh;
    padding-left: 20px;
}

.mbti h4{
    background-color: #018ABE;
    color: aliceblue;
    text-align: left;
    display: inline-block; /* Alterado para inline-block */
    align-items: left;
    justify-content: left;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    line-height: 5vh;
    padding-left: 20px;
}

.fil-ser h4 {
    background-color: #018ABE;
    color: aliceblue;
    text-align: left;
    display: inline-block; /* Alterado para inline-block */
    align-items: left;
    justify-content: left;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    line-height: 5vh;
    padding-left: 20px;
}

.cantores h4 {
    background-color: #018ABE;
    color: aliceblue;
    text-align: left;
    display: inline-block; /* Alterado para inline-block */
    align-items: left;
    justify-content: left;
    padding: 10px;
    height: 8vh;
    width: 40vw;
    line-height: 5vh;
    padding-left: 20px;
}

.fil-ser ul,
.cantores ul,
.hobbies ul{
    margin-top: 5%;
}

.hobbies li,
.cantores li,
.fil-ser li{
    margin-left: 10%;
}

.mbti p{
    margin-top: 5%;
    line-height: 150%;
}

@media screen and (max-width: 600px){
    .hob-mbti,
    .fil-cant {
        flex-direction: column;
    }

    .mbti h4{
        flex-basis: 100%;
        width: 200%;
    }
    .mbti p{
        margin-left: 20%;
        width: 100vw;
    }
    
    .fil-ser h4{
        flex-basis: 100%;
        width: 200%;
    }
    .fil-ser li{
        margin-left: 8%;
    }

    .cantores h4{
        flex-basis: 100%;
        width: 100vw;
    }
    .cantores li{
        margin-top: 5%;
        margin-left: 8%;
    }

    .livros {
        order: 2;
    }

    .livros h4{
        flex-basis: 100%;
        width: 200%;
    }
    .livros p{
        justify-content: center;
        margin-top: 5%;
    }
}