/* Base.html */
body{
    background-color: #02457A;
    min-width: 100%;
    max-width: max-content;
}

header{
    background-color: #001B48;
    height: 150px;
}
h2{
    padding-top: 20px;
    font-size: larger;
}

.flex-container{
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.flex-container > img{
    display: flex;
    padding: 10px 30px;
}

.flex-container-links{
    display: flex;
    padding-left: 54%;
    padding-top: 50px;
}

footer#rodape{
    background-color: #001B48;
    color: aliceblue;
    height: 100px;
}

.block{
  background-color: #02457A;
  height: 0 auto;
}

/* Página home */
#img-eu{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding: 20px 10px;
    padding-top: 20px;
}

.retangulo1{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 22rem;
    height: 20rem;
    margin: 20px;
    background: #018ABE;
    padding-top: 20px;
    line-height: 75px;
    padding-right: 40px;
    color: aliceblue;
}

.retangulo2{
    display: grid;
    grid-column: 3;
    grid-row: 1;
    width: 22rem;
    height: 20rem;
    margin: 20px;
    background: #018ABE;
    padding-top: 20px;
    line-height: 75px;
    padding-right: 40px;
    color: aliceblue;
}

.container{
    display: grid;
}

li{
    justify-items: center;
    box-align: justify-items;
    font-size: 15px;
    line-height: 1.5;
}

.titulo1{
    display: grid;
    grid-column: 2;
    color:aliceblue;
    padding-top: 10px;
    padding-left: 20%;
}

div.sobremim{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 22rem;
    height: 3rem;
    background: #97CADB;
    padding: 10px 5px; 
    padding-top: 15px;
    color:black;
}

h4{
    display: grid;
    grid-column: 1;
}

.descricao{
    color: aliceblue;
    text-align: justify;
    margin: 5%;
    margin-top: 20px;
}

.palign{
    text-align: center;
}

/*Página minhas informações */
.main-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 40px;
    color: aliceblue;
}

.corpo{
    margin: 30px;
}

.title2{
    display: grid;
    grid-row: 1;
    align-content: center;
}

.img-escol{
    display: grid;
}

.item1{
    display: grid;
    align-content: center;
}

.item2{
    display: grid;
    grid-column: 1;
    height: 20px;
}

.img-diploma{
    display: grid;
    grid-column: 3;
}

.item3{
    display: grid;
    grid-row: 2;
}

.item4{
    display: grid;
    grid-row: 3;
}

.item5{
    display: grid;
    grid-row: 4;
}

.item6{
    display: grid;
    grid-row: 5;
    grid-column: 1;
    margin: auto;
}

h2{
    text-align: center;
}

.linha{
    border: 1px solid aliceblue;
}

/* Pessoal */
.pessoal{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}

.hobbies{
    display: grid;
    grid-row: 6;
}

.livros{
    display: grid;
    grid-row: 7;
}

.fil-ser{
    display: grid;
    grid-row: 8;
}

.cantores{
    display: grid;
    grid-row: 9;
}