/* Página contatos */
*{
    margin: 0;
    padding: 0;
}
.mcontatos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: auto;
    padding: 0;
    width: 60%;
    overflow-x: hidden;
}

h2.contatos{
    padding: 10px center;
    text-align: center;
    color: aliceblue;
}

.insta{
    display: flex;
    flex: 1;
    margin: 0;
}

.linkedin{
    display: flex;
    flex: 1;
    margin: 10px;
}

.github{
    display: flex;
    flex: 1;
    margin: 10px;
}

.email1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 0;
    padding-top: 5%;
}

.texto{
    display: grid;
    grid-row: 1;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.email2 img{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0;
    padding-top: 20px;
}

.imgemail{
    display: grid;
    grid-row: 2;
}
@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
      }
      
      body {
        overflow-x: hidden;
        width: 100%;
      }

    .mcontatos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .contatos{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        margin: 0;
    }
    .insta{
        flex: 1;
    }
    .linkedin{
        flex: 2;
    }
    .github{
        flex: 3;
    }
    .email1{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .texto{
        flex: 1;
        margin: 5%;
        font-size: 18px;
    }
    .email2{
        flex: 2;
        margin: 0px;
        margin-bottom: 8%;
    }
}