/* Base.html */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: large;
}

a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

a.hoover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: cursive;
    margin-top: 5%;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #001B48;
    margin-left: 0 auto;
}

nav .logo{
    display: flex;
    align-items: left;
    margin-left: 0 auto;
    margin-top: 1%;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 25px;
    margin-top: 8%;
}

.nav-list li {
    position: relative;
  }

  .nav-list li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ccc;
    transition: width 0.3s;
  }

  .nav-list li:hover::after {
    width: 100%;
  }

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .nav-list {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 100%;
        background-color: #001B48;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 999;
      }
      
    .nav-list li {
      width: 45vw;
      line-height: 250%;
      margin-left: 0px;
      opacity: 0;
      margin-bottom: 2px; /* Ajuste o valor de margin-bottom conforme necessário */
    }
    .mobile-menu {
      position: absolute;
      right: 2vw;
      top: 8vh;
      display: block;
      z-index: 9999;
    }
    .logo {
      position: absolute;
      display: block;
      left: 5vw;
      top: 1.5vh;
    }
    .mobile-menu:checked + .nav-list {
        display: block;
    }
  }
  


.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

body{
    background-color: #02457A;
    min-width: 100%;
    max-width: max-content;
    font-size: 14px;
    font-family: Helvetica;
}

/* Cabeçalho */

header{
    background-color: #001B48;
    height: 150px;
}
h2{
    padding-top: 20px;
    font-size: larger;
}


.flex-container-links{
    display: flex;
    padding-left: 54%;
    padding-top: 50px;
    width: 28%;
    margin: 1%;
    padding: 1%;
}

/* Rodapé */

footer#rodape{
    background-color: #001B48;
    color: aliceblue;
    height: 112px;
    padding-top: 2%;
}

.block{
  background-color: #02457A;
  height: 0 auto;
}

/* Responsividade */

/* Estilos para telas menores */
@media (max-width: 600px) {
    /**/
}
  
  /* Estilos para telas médias */
@media (min-width: 601px) and (max-width: 1024px) {
    /**/
}
  
  /* Estilos para telas maiores */
@media (min-width: 1025px) {
    /**/
}
  