@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#logo{
    margin-top: 0 auto;
    box-align: left;
}

#capa {
    background-color:#B0BFD4;
    margin-top: 0 auto;
    box-align: center;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

#quadrado {
    background: #B0BFD4;
    width: 100px;
    height: 100px;
    padding-left: 40%;
}

header nav ul li {
    float: none; 
    display: inline-block;
    text-align: right;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #B2C9D7;
    padding: 20px 0px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.minha-img{
    display: grid;
    column-gap: 50%;
}

.escrita{
    display: grid;
    column-gap: 50%;
}