#logo{
    margin-top: 0 auto;
    box-align: left;
}

#capa {
    background-color:#B0BFD4;
    margin-top: 0 auto;
    box-align: center;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

#quadrado {
    background: #B0BFD4;
    width: 100px;
    height: 100px;
    padding-left: 40%;
}

header nav ul li {
    float: none; 
    display: inline-block;
    text-align: right;
}

footer {
    background-color: #B2C9D7;
    padding: 20px 0px;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.minha-img{
    display: grid;
    column-gap: 50%;
}

.escrita{
    display: grid;
    column-gap: 50%;
}

header {
    background-color: #D0FFCE;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    border-bottom: 3px solid #202020;
    padding: 5px;
}

header div#left-box {
    /* background-color: yellowgreen; */
    padding-left: 5%;
}

header div#left-box img {
    width: 126px;
}

header nav ul {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: auto auto auto;
}

header nav ul li {
    display: inline-block;
    text-align: center;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

header nav ul li a {
    color: #202020;
    font-size: 1em;
    font-weight: 600;
}

footer {
    background-color: #1AB85C;
    padding: 20px 0px;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 7%;
}

footer a {
    color: #202020;
    font-weight: 600;
}

footer a::before {
    content: url(../img/github-logo_16px.png);
    padding-right: 5px;
}

footer p {
    margin-top: 10px;
    color: hsla(0, 0%, 13%, 0.8);
}
